.glyphicon {
  font-size: 1.0rem;
}

#checkbox1{
background:#grey;
display:inline-block;
padding:2px 2px;
border-radius:2px;
position:relative;
cursor:pointer;
}

#checkbox2{
background:#grey;
display:inline-block;
padding:2px 2px;
border-radius:2px;
position:relative;
cursor:pointer;
}

#checkbox3{
background:#grey;
display:inline-block;
padding:2px 2px;
border-radius:2px;
position:relative;
cursor:pointer;
}

#checkbox4{
background:#grey;
display:inline-block;
padding:2px 2px;
border-radius:2px;
position:relative;
cursor:pointer;
}

#checkbox5{
background:#grey;
display:inline-block;
padding:2px 2px;
border-radius:2px;
position:relative;
cursor:pointer;
}

#checkbox6{
background:#grey;
display:inline-block;
padding:2px 2px;
border-radius:2px;
position:relative;
cursor:pointer;
}

.ckeckbox-element{
display:block;
position:absolute;
left:0;
top:0;
width:100%;
height:100%;
z-index:99999;
opacity:0;
}


#checkbox1>input[type='checkbox']+i{
color:#999999;
}

#checkbox1>input[type='checkbox']:checked+i{
color:#93dbd1;
}

#checkbox2>input[type='checkbox']+i{
color:#999999;
}

#checkbox2>input[type='checkbox']:checked+i{
color:#00bbff;
}

#checkbox3>input[type='checkbox']+i{
color:#999999;
}

#checkbox3>input[type='checkbox']:checked+i{
color:#ffffff;
}

#checkbox4>input[type='checkbox']+i{
color:#999999;
}

#checkbox4>input[type='checkbox']:checked+i{
color:#fd0022
}

#checkbox5>input[type='checkbox']+i{
color:#999999;
}

#checkbox5>input[type='checkbox']:checked+i{
color:#fff427;
}

#checkbox6>input[type='checkbox']+i{
color:#999999;
}

#checkbox6>input[type='checkbox']:checked+i{
color:#04ff00;
}

.form-controlx{
font-size: 1.0rem;
border: 0;
color: grey;
text-align: center;
}

.btnx {
border: none;
background:#06b7a0;
}

.btnx1 {
border: none;
background:#06b7a0;

font-size: 1.0rem;
vertical-align:middle;
padding-bottom: 0px;
color: white;
}

.red { color: #ff0000; }
.green { color: #080; }

html {
 font-family: Arial;
 display: inline-block;
 margin: 0px auto;
 text-align: center;
}

h3 { font-size: 1.6rem; 
color: #bcbcbc;}

h4 { font-size: 1.2rem; 
color: white;
padding: 0px 0px;
}

p { font-size: 1.0rem; 
color: white;
}

p1 { font-size: 1.0rem; 
color: black;
}

.form-controlx input-sl {
color: grey;
text-align: center;
}

.units { font-size: 1.0rem; }

.dht-labels{
font-size: 1.0rem;
vertical-align:middle;
padding-bottom: 15px;
color: white;
}

.switch-labels{
font-size: 1.5rem;
vertical-align:middle;
padding-bottom: 5px;
}

body {
min-width: 310px;
max-width: 1200px;
height: 1250px;
margin: 0 auto;
background-color: grey;
color: white;
}

.timeMakeup{
font-size: 1.0rem; 
color: black;	
}

.switch {
position: relative;
display: inline-block;
width: 38px;
height: 22px;
vertical-align: text-bottom;
}

.switch input { 
opacity: 0;
width: 0;
height: 0;
}

.sliderround {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
border-radius: 10px;
}

.sliderround:before {
position: absolute;
content: "";
height: 18px;
width: 18px;
left: 2px;
bottom: 2px;
background-color: white;
border-radius: 50%;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .sliderround {
background-color: #06b7a0;
}

input:focus + .sliderround {
box-shadow: 0 0 1px #06b7a0;
}

input:checked + .sliderround:before {
-webkit-transform: translateX(16px);
-ms-transform: translateX(16px);
transform: translateX(16px);
}

.slidercontainerx {
position: relative;
display: inline-block;
width: 80%;
height: 22px;
}

.time-frame {
text-align: center;
  color: white;
  width: 100%;
  font-family: Arial;
}

.time-frame > div {
  width: 100%;
  text-align: center;
}

#date-part {
  font-size: 1em;
}
#time-part {
  font-size: 1em;
}



div.inline { 
float:left; 
height:190px;
width:33%;
outline: none;
}


/* Style the tab */
.tab {
overflow: hidden;
background-color: #grey;
}

/* Style the buttons inside the tab */
.tab checkbox {
background-color: #grey;
float: left;
border: none;
outline: none;
cursor: pointer;
padding: 10px 10px;
transition: 0.3s;
font-size: 17px;
}

/* Style the tab content */
.tabcontent {
display: none;
padding: 0px 0px;
border: none;
}

/* Style the close button */
.topright {
float: right;
cursor: pointer;
font-size: 28px;
}

.inputparam {
color: grey;
text-align: center;
}

.textinfo {
color: white;
text-align: center;
font-size: 1.0rem;
}

.slider {
-webkit-appearance: none;
width: 100%;
display: flex;
position: relative;
height: 10px;
border-radius: 10px;
outline: none;
opacity: 0.7;
-webkit-transition: .2s;
transition: opacity .2s;
}

.slider:hover {
opacity: 0.8;
background: #8bccc4;
}

.slider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 10px;
height: 10px;
border-radius: 100%;
background: #06b7a0;
cursor: pointer;
}

.slider::-moz-range-thumb {
width: 10px;
height: 10px;
border-radius: 100%;
background: #06b7a0;
cursor: pointer;
}

.container{
background-color: grey;
color:white;
height:400px;
width:100%;	
}

.inputcontainer{
height: 25px;
}


.textinfo .tooltiptext {
  visibility: hidden;
  width: 500px;
  background-color: white;
  color: #000;
  text-align: left;
  border-radius: 6px;
  padding: 5px 5px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.textinfo:hover .tooltiptext {
  visibility: visible;
}